@page "/Account/ForgotPasswordConfirmation"

<PageTitle>Forgot password confirmation</PageTitle>

<div class="account-card">
    <div class="account-card-content">
        <h1 class="account-title">Forgot password confirmation</h1>
        <p role="alert" class="account-msg-success">Please check your email to reset your password.</p>
    </div>
</div>