@page "/Account/InvalidUser"

<PageTitle>Invalid user</PageTitle>

<div class="account-card">
    <div class="account-card-content">
        <h1 class="account-title">Invalid user</h1>
        <div class="account-msg-error">The user account is invalid or does not exist.</div>
    </div>
</div>