@page "/Account/Lockout"

<PageTitle>Locked out</PageTitle>

<div class="account-card">
    <div class="account-card-content">
        <h1 class="account-title account-msg-error">Locked out</h1>
        <p class="account-msg-error" role="alert">This account has been locked out, please try again later.</p>
        <p class="account-msg-alert">If you believe this is an error, please contact your administrator.</p>
    </div>
</div>