@page "/Account/Login"

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Identity
@using GestorTeocratico.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject ILogger<Login> Logger
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager

<PageTitle>Log in</PageTitle>

<RadzenCard class="rz-my-12 rz-mx-auto rz-p-4 rz-p-md-12 rz-border-radius-4" style="max-width: 600px;">
    <RadzenText TextStyle="TextStyle.DisplayH4" Text="Inicio Sesión" TextAlign="TextAlign.Center"
                class="rz-color-primary rz-mb-4"/>
    <div style="margin-top:15px; text-align:center;">
        @* <h3 class="account-subtitle">Use another service to log in.</h3> *@
        <ExternalLoginPicker/>
    </div>
    <StatusMessage Message="@errorMessage"/>
    <EditForm Model="Input" method="post" OnValidSubmit="LoginUser" FormName="login">
        <DataAnnotationsValidator/>
        @* @if (!string.IsNullOrEmpty(errorMessage))
            {
                <div class="account-msg-error">
                    @errorMessage
                </div>
            } *@
        <ValidationSummary class="account-msg-error" role="alert"/>
        <div>
            <InputText @bind-Value="Input.Email" id="Input.Email" class="account-input" autocomplete="off"
                       aria-required="true" placeholder="name@example.com"/>
            <ValidationMessage For="() => Input.Email" class="account-msg-error"/>
        </div>
        <div>
            <InputText type="password" @bind-Value="Input.Password" id="Input.Password" class="account-input"
                       autocomplete="current-password" aria-required="true" placeholder="password"/>
            <ValidationMessage For="() => Input.Password" class="account-msg-error"/>
        </div>
        <div style="margin-bottom: 20px; display: flex; align-items: center;">
            <InputCheckbox @bind-Value="Input.RememberMe" class="form-check-input" id="Input.RememberMe"
                           style="margin-right:8px; accent-color:#1976d2;"/>
            <label for="Input.RememberMe" style="margin-bottom:0;">Remember me</label>
        </div>
        <RadzenStack>
            <button type="submit" class="rz-button rz-primary rz-button-lg rz-border-radius-2">Iniciar Sesión</button>
            <a href="/" class="rz-button rz-button-lg rz-secondary text-center rz-border-radius-2">Volver</a>
        </RadzenStack>
        <RadzenStack Orientation="Orientation.Vertical" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center" Gap="4px" class="rz-m-4">
            <RadzenLink Path="Account/ForgotPassword" Text="¿Olvidaste tu contraseña?"/>
            <RadzenLink
                Path="@(NavigationManager.GetUriWithQueryParameters("Account/Register", new Dictionary<string, object?> { ["ReturnUrl"] = ReturnUrl }))"
                Text="Registrarse como nuevo usuario"/>
            <RadzenLink Path="Account/ResendEmailConfirmation" Text="Reenviar correo electrónico confirmación"/>
        </RadzenStack>
    </EditForm>
</RadzenCard>

@code {
    private string? errorMessage;

    [CascadingParameter] private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromForm] private InputModel Input { get; set; } = new();

    [SupplyParameterFromQuery] private string? ReturnUrl { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (HttpMethods.IsGet(HttpContext.Request.Method))
        {
            // Clear the existing external cookie to ensure a clean login process
            await HttpContext.SignOutAsync(IdentityConstants.ExternalScheme);
        }
    }

    public async Task LoginUser()
    {
        // This doesn't count login failures towards account lockout
        // To enable password failures to trigger account lockout, set lockoutOnFailure: true
        var result = await SignInManager.PasswordSignInAsync(Input.Email, Input.Password, Input.RememberMe, lockoutOnFailure: true);
        if (result.Succeeded)
        {
            Logger.LogInformation("User logged in.");
            RedirectManager.RedirectTo(ReturnUrl ?? "/dashboard");
        }
        else if (result.RequiresTwoFactor)
        {
            RedirectManager.RedirectTo(
                "Account/LoginWith2fa",
                new() { ["returnUrl"] = ReturnUrl, ["rememberMe"] = Input.RememberMe });
        }
        else if (result.IsLockedOut)
        {
            Logger.LogWarning("User account locked out.");
            RedirectManager.RedirectTo("Account/Lockout");
        }
        else
        {
            errorMessage = "Error: Invalid login attempt.";
        }
    }

    private void GoBack()
    {
        NavigationManager.NavigateTo("/");
    }

    public class InputModel
    {
        [Required] [EmailAddress] public string Email { get; set; } = "";

        [Required]
        [DataType(DataType.Password)]
        public string Password { get; set; } = "";

        [Display(Name = "Remember me?")] public bool RememberMe { get; set; }
    }

}