@page "/Account/ResetPasswordConfirmation"

<PageTitle>Password reset confirmation</PageTitle>

<div class="account-card">
    <div class="account-card-content">
        <h1 class="account-title">Password reset confirmation</h1>
        <p class="account-msg-success">Your password has been reset successfully. You may now log in with your new password.</p>
    </div>
</div>