@implements IDisposable
@inject NavigationManager NavigationManager


<AuthorizeView>
    <Authorized>
        <RadzenPanelMenu>
            <RadzenPanelMenuItem Text="Inicio" Path="/dashboard" Icon="home" />
            <AuthorizeView Roles="@($"{Shared.Roles.Admin}, {Shared.Roles.Manager}")">
                <Authorized Context="adminContext">
                    <RadzenPanelMenu>
                        <RadzenPanelMenuItem Text="Administración" Icon="security">
                            <RadzenPanelMenuItem Text="Roles" Path="/administration/roles" Icon="manage_accounts" />
                        </RadzenPanelMenuItem>
                    </RadzenPanelMenu>
                    <RadzenPanelMenuItem Text="Congregación" Path="/congregations" Icon="fort" />
                    <RadzenPanelMenuItem Text="Departamentos" Path="/departments" Icon="business" />
                    <RadzenPanelMenuItem Text="Responsabilidades" Path="/responsibilities" Icon="assignment" />
                    <RadzenPanelMenuItem Text="Publicadores" Path="/publishers" Icon="people" />
                    <RadzenPanelMenuItem Text="Programación Reuniones" Path="/meeting-schedules" Icon="event_note" />
                </Authorized>
            </AuthorizeView>
        </RadzenPanelMenu>
        
        <RadzenPanelMenu>
            <RadzenStack class="rz-mt-4" Gap="0.5rem">
                @* <RadzenPanelMenuItem Text="@context.User.Identity?.Name" Path="Account/Manage" Icon="person" /> *@
                
                <form action="Account/Logout" method="post" class="rz-w-100">
                    <AntiforgeryToken/>
                    <input type="hidden" name="returnUrl" value="@currentUrl"/>
                    <RadzenButton ButtonType="ButtonType.Submit"
                                  Text="Logout"
                                  Icon="logout"
                                  ButtonStyle="ButtonStyle.Light"
                                  Size="ButtonSize.Medium"
                                  class="rz-w-100" />
                </form>
            </RadzenStack>
        </RadzenPanelMenu>
    </Authorized>
    <NotAuthorized>
        <RadzenPanelMenu>
            <RadzenStack class="rz-mt-4" Gap="0.5rem">
                <RadzenPanelMenuItem Text="Login" Path="Account/Login" Icon="login" />
                <RadzenPanelMenuItem Text="Register" Path="Account/Register" Icon="person_add" />
            </RadzenStack>
        </RadzenPanelMenu>
    </NotAuthorized>
</AuthorizeView>

@code {
    private string? currentUrl;
    
    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}