@inherits LayoutComponentBase
@layout GestorTeocratico.Components.Layout.MainLayout

<h1>Administra tu cuenta</h1>

<div>
    <h2>Cambia la configuración de tu cuenta</h2>
    <hr/>
    <RadzenCard>
        <RadzenRow>
            <RadzenColumn SizeLG="3">
                <ManageNavMenu/>
            </RadzenColumn>
            <RadzenColumn SizeLG="9" class="rz-p-lg-3">
                @Body
            </RadzenColumn>
        </RadzenRow>
    </RadzenCard>

    <RadzenCard class="rz-display-lg-none rz-mt-3">
        <RadzenStack JustifyContent="JustifyContent.Center">
            <a href="/" class="btn btn-primary">Volver al Inicio</a>
        </RadzenStack>
    </RadzenCard>
</div>