@page "/not-found"
@layout MainLayout
@rendermode InteractiveServer
@attribute [AllowAnonymous]

@* <h3>Not Found</h3> *@
@* <p>Sorry, the content you are looking for does not exist.</p> *@
<PageTitle>Not found</PageTitle>
<LayoutView Layout="@typeof(Layout.MainLayout)">
    <RadzenRow>
        <RadzenColumn Size="12" style="margin-top: 5rem; margin-bottom: 5rem">
            <RadzenText Text="Page not found" TextStyle="TextStyle.DisplayH1" style="margin: 0; margin-bottom: 2rem" TextAlign="TextAlign.Center" />
            <RadzenText Text="Sorry, but there's nothing here!" TextStyle="TextStyle.H6" style="margin: 0" TextAlign="TextAlign.Center" TagName="TagName.P" />
        </RadzenColumn>
    </RadzenRow>
</LayoutView>